# Firebase & Sensíveis
new-firebase-key.json
.env
env/
.firebase/

# Dependências
node_modules/

# Builds e logs
dist/
*.log
*.tsbuildinfo

# IDE/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
.DS_Store
Thumbs.db